<template>
  <div class="m-auto">
    <div class="flex flex-row">
      <input v-model="title" />
      <select v-model="year">
        <option v-for="(y, index) in years" :key="(index)">{{ y }}</option>
      </select>
    </div>
    <div>
      <button @click="handleMovieSearch">Search</button>
    </div>
    <div v-if="error">
      <p>No movie was found. Search for another movie.</p>
    </div>
    <div v-if="movieData.Title" class="text-center">
      <h4>{{movieData.Title}}</h4>
      <h5>Release Date: {{movieData.Released}}</h5>
      <h5>Director: {{movieData.Director}}</h5>
    </div>
  </div>
</template>

<!--
  {
    "Title":"John Wick: Chapter 2",
    "Year":"2017",
    "Rated":"R",
    "Released":"10 Feb 2017",
    "Runtime":"122 min",
    "Genre":"Action, Crime, Thriller",
    "Director":"Chad Stahelski",
    "Writer":"Derek Kolstad, Derek Kolstad (based on characters created by)",
    "Actors":"Keanu Reeves, Riccardo Scamarcio, Ian McShane, Ruby Rose",
    "Plot":"After returning to the criminal underworld to repay a debt, John Wick discovers that a large bounty has been put on his life.",
    "Language":"English, Italian, Russian",
    "Country":"Hong Kong, USA",
    "Awards":"4 wins & 4 nominations.",
    "Poster":"https://m.media-amazon.com/images/M/MV5BMjE2NDkxNTY2M15BMl5BanBnXkFtZTgwMDc2NzE0MTI@._V1_SX300.jpg",
    "Ratings":[{"Source":"Internet Movie Database","Value":"7.5/10"},{"Source":"Rotten Tomatoes","Value":"89%"},{"Source":"Metacritic","Value":"75/100"}],
    "Metascore":"75",
    "imdbRating":"7.5",
    "imdbVotes":"322,985",
    "imdbID":"tt4425200",
    "Type":"movie",
    "DVD":"13 Jun 2017",
    "BoxOffice":"$91,970,516",
    "Production":"Summit Entertainment",
    "Website":"N/A",
    "Response":"True"
    } -->

<script>
export default {
  name: "Search",
  props: ["user"],
  data() {
    return {
      title: "",
      year: "",
      userData: {},
      movieData: {},
      error: ""
    };
  },
  methods: {
    async handleMovieSearch() {
      const { $axios, title, year } = this;

      this.movieData = {};
      this.error = "";

      const movieRequest = await $axios.get(
        `http://localhost:3000/movies/search/${title}/${year}`
      );
      const { data } = movieRequest;

      if (data.Error) {
        this.error = data.Error;
      } else {
        this.movieData = data;
      }
    }
  },
  computed: {
    years() {
      const years = [""];
      let start = 1900;

      while (start <= 2020) {
        years.push(start);
        start++;
      }

      return years;
    }
  },
  async mounted() {
    const { user, $axios } = this;
    if (user) {
      const url = `http://localhost:3000/users/single/${user}`;
      const getUserData = await $axios.get(url);

      if (getUserData.data && getUserData.data[0]) {
        const data = getUserData.data[0];
        this.userData = data;
      }
    }
  }
};
</script>