<template>
  <section>
    <div>{{ label }}</div>
    <div>
      <input
        v-model="value"
        @input="$emit('handleInput', {name, value: $event.target.value})"
        :placeholder="placeholder"
      />
    </div>
  </section>
</template>

<script>
export default {
  name: "TextField",
  props: {
    label: String,
    placeholder: String,
    name: String
  },
  data() {
      return {
          value: ''
      }
  },
};
</script>