<template>
  <div>
    <div v-if="loggedIn">
      <h3>Search For Movies!</h3>
      <Search :user="currentUser"/>
    </div>
    <h3 v-else>Not logged In</h3>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { actionTypes } from "~/store/auth";
import Search from '~/components/Search.vue';

export default {
  name: "Landing",
  components: {
    Search
  },
  mounted() {
    this.fetchCurrentUser();
  },
  computed: {
    ...mapState("auth", {
      currentUser: state => state.currentUser,
      loggedIn: state => state.loggedIn
    })
  },
  methods: {
    ...mapActions("auth", {
      setCurrentUser: actionTypes.LOGIN_ACTION
    }),
    async fetchCurrentUser() {
      const token = localStorage.getItem("TOKEN");
      const user = await this.$axios.get(
        "http://localhost:3000/auth/current/",
        {
          headers: {
            "content-type": "application/json",
            authorization: token || ""
          }
        }
      );

      if (user && user.data && user.data.user) {
        this.setCurrentUser(user.data.user);
      }
    }
  }
};
</script>

<style>
</style>
