<template>
  <div>
    <h3>Login Here</h3>
    <form @submit.prevent="handleSubmit">
      <TextField
        label="Enter Your Email"
        placeholder="Email"
        name="email"
        v-on:handleInput="handleInput"
      />
      <TextField
        label="Enter Your Password"
        placeholder="Password"
        name="password"
        v-on:handleInput="handleInput"
      />
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { actionTypes } from "~/store/auth";
import TextField from "~/components/TextField";
export default {
  name: "Login",
  components: {
    TextField
  },
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    ...mapActions("auth", { setCurrentUser: actionTypes.LOGIN_ACTION }),
    handleInput({ name, value }) {
      this[name] = value;
    },
    async handleSubmit() {
      const { email, password, $axios, setCurrentUser, $router } = this;
      const url = "http://localhost:3000/auth/login/";

      try {
        const login = await $axios.$post(url, { email, password });
        if (login && login.token && login.user) {
          localStorage.setItem("TOKEN", login.token);
          setCurrentUser(login.user);
          $router.push('/');
        }
      } catch (err) {
        console.error(err);
      }
    }
  }
};
</script>