<template>
  <div>
    <h3>Register Here</h3>
    <form @submit.prevent="handleSubmit">
      <TextField
        label="Enter Your Email"
        placeholder="Email"
        name="email"
        v-on:handleInput="handleInput"
      />
      <TextField
        label="Enter Your Password"
        placeholder="Password"
        name="password"
        v-on:handleInput="handleInput"
      />
      <TextField
        label="Enter Your Display Name"
        placeholder="Display Name"
        name="display_name"
        v-on:handleInput="handleInput"
      />
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { actionTypes } from "~/store/auth";
import TextField from "~/components/TextField";

export default {
  name: "Register",
  components: {
    TextField
  },
  data() {
    return {
      email: "",
      password: "",
      display_name: ""
    };
  },
  methods: {
    ...mapActions("auth", { setCurrentUser: actionTypes.LOGIN_ACTION }),
    handleInput({ name, value }) {
      this[name] = value;
    },
    async handleSubmit() {
      const { display_name, email, password, $axios, setCurrentUser, $router } = this;
      const url = "http://localhost:3000/auth/register/";

      try {
        const register = await $axios.$post(url, {
          email,
          password,
          display_name
        });

        if (register && register.token && register.user) {
          localStorage.setItem("TOKEN", register.token);
          setCurrentUser(register.user);
          $router.push('/');
        }
      } catch (err) {
        console.error(err);
      }
    }
  }
};
</script>