<template>
  <div>
    <section id="main-header" class="flex flex-row justify-between">
      <h2>Moogle: The Movies Google</h2>
      <div class="flex-1"></div>
      <div v-if="loggedIn">
        <button @click="logout">Logout</button>
      </div>
      <div v-else>
        <button>
          <n-link to="/login">Login</n-link>
        </button>
        <button>
          <n-link to="/register">Register</n-link>
        </button>
      </div>
    </section>
    <nuxt />
    <section id="main-footer"></section>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { actionTypes } from "~/store/auth";
export default {
  computed: mapState("auth", {
    loggedIn: state => state.loggedIn
  }),
  methods: {
    ...mapActions("auth", { logout: actionTypes.LOGOUT_ACTION })
  }
};
</script>

<style>
</style>
